body{
  background-color: rgb(224, 176, 218);
}

main{
  height: 100vh;
}

.title {
  font-size: 10vh;
  font-family: 'Alata', sans-serif;
  color: rgb(76, 162, 190);
  text-align: center;
  text-shadow: 5px 1px 2px rgba(34, 32, 32, 0.84);;
}

.list {
  font-family: 'Alata', sans-serif;
  width: 50%;
  height: auto;
  margin: 30px auto;
  font-size: 1.5em;
  box-shadow: 10px 6px 12px 17px rgba(0,0,0,0.41);
  display: block;
  padding: 50px;
}


.list > li:hover {
  text-decoration: line-through red solid;
}

.list > li::before {
  content: url("ico-list.png");
}

.access {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px auto;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  width: 40%;
  height: 2rem;
  font-family: 'Alata', sans-serif;
  color: rgb(98, 102, 104);
  border-bottom: 2px solid rgb(51, 45, 45);
  font-size: 2rem;
  padding: 7px 0;

}

.list-input::placeholder {
  width: 100%;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.addListbtn {
  margin-left: 5px;
  background-color: #555555;
  border: none;
  color: white;
  font-family: 'Alata', sans-serif;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}